.row {
    margin-bottom: 30px;
}

.row h2 {
    margin: 0px 0px 0px 30px;
}

.row-listArea {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 30px;
}

.row-item {
    display: inline-block;
    width: 150px;
}
.row-item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.3s;
}
.row-item img:hover {
    transform: scale(1);
    cursor: pointer;
}

.row-list {
    transition: all ease 0.8s;
}

.row-left, .row-right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0,0,0, 0.4);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}
.row:hover .row-left,
.row:hover .row-right {
    opacity: 1;
    }

.row-left {
    left: 0;
    
}
.row-right {
    right: 0;
    
}